/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --subtitle-color: #FF0070;
  --title-text_color: #000028;
  --text-color: #F1B2CE;
  --decoration-color: #FF0070;
  --button-color: #FF0070;
  --button-active-color: #FF007066;
  --bg-color: #000028;
  --bg-image: url(/images/cover-image-dark.png);
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --text-size: 18px;
  --text-line-height: 23.4px;
  --heading-line-height: 83%;
}
